.sound-control {
  position: fixed;
  top: 140px; /* geändert von 'bottom' zu 'top' */
  right: 10px; /* geändert von 'left' zu 'right' */
  cursor: pointer;
  z-index: 1000; /* Stelle sicher, dass dies hoch genug ist */
}
 
.sound-control img {
  pointer-events: auto; /* Erlaubt Klick-Events auf das Bild */
}